ul.pokemons {
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}
body{
    background: linear-gradient(to right, #02d9ff, #0f0f47);

}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to right, #02d9ff, #0f0f47);
    padding: 24px;
    gap: 12px;
}
header h1 {
    font-size: 4.1rem;
    color: #ffffff;
    z-index: 5;
}
nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    padding-right: 12px;
    gap: 12px;
    z-index: 5;
}
header a {
    color: #ffffffe4;
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #f8f3f300;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 1.0 ease;
}
header a:hover {
    transform: scale(1.025);
    background-color: #8000b270;
    z-index: 5;
}
header img {
    width: 8%;
    cursor: pointer;
    transition: all 1.0 ease;
    z-index: 5;
}
header img:hover {
    transform: scale(1.025);
    z-index: 5;
}
button {
    padding: 12px 18px;
    margin: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #02d9ff, #1835dd);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

button:hover:not([disabled]) {
    background: linear-gradient(to right, #fffb00, #ff0000);
    transform: scale(1.05);
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

li.borda {
    /* background: linear-gradient(to bottom right, #fdd835, #ffeb3b); */
    border: 4px solid #444;
    border-radius: 18px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    width: 200px;
    padding: 10px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    padding: 0 8px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-bottom: 5px;
}

.hp {
    color: red;
}

li.borda img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 0 auto 10px;
}

.info {
    background-color: rgba(255,255,255,0.9);
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #888;
    width: 250px;
}
.search-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    background-color: #56ff02;
    color: white;
    border: 2px solid #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-container button:hover {
    background-color: #da05ff;
    color: #9177aa;
}
.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
  }

  .paginacao button {
    background: #940f0f;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  .paginacao button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }