ul.pokemons {
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}
button {
    padding: 12px 18px;
    margin: 20px 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to right, #02d9ff, #5c6bc0);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

button:hover:not([disabled]) {
    background: linear-gradient(to right, #ff4081, #7c4dff);
    transform: scale(1.05);
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

li.borda {
    /* background: linear-gradient(to bottom right, #fdd835, #ffeb3b); */
    border: 4px solid #444;
    border-radius: 18px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    width: 200px;
    padding: 10px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    padding: 0 8px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    margin-bottom: 5px;
}

.hp {
    color: red;
}

li.borda img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 0 auto 10px;
}

.info {
    background-color: rgba(255,255,255,0.9);
    padding: 6px;
    border-radius: 8px;
    font-size: 14px;
    text-align: left;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #888;
    width: 250px;
}
.search-container button {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
    background-color: #02d9ff;
    color: white;
    border: 2px solid #888;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-container button:hover {
    background-color: #da05ff;
    color: #949494;
}
